body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(84, 217, 237);
}

label{
    display: block;
    margin-bottom: 5px;
}

input[type=number],
input[type=number],
input[type=text],
input[type=text],
input[type=tel],
input[type=email],
input[type=submit],
input[type=submit]{
  width: 100%;
  padding: 8px;
  border: 1px solid #15e80e;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
button[type="submit"] {
    background-color: #322fcf;
    color: rgb(190, 241, 21);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #d95f27;
}
/* Estilos específicos para el formulario */
#formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #5a54cd;
    border-radius: 4px;
  }